<div>
	<div class="ecl-u-ratio-16-9-player">

	    <div class="theoplayer-container video-js theoplayer-skin AVSVideoPlayer">
	        <!-- IF EMBBED ////////////////////////-->
	        <div>
	            <div class="top-bar" ng-hide="player.presentation == 'picture-in-picture'" >
	                <div class="button-bar responsive" id="component_3" style="display: block;">
	                    <div id="embedButton" class="button-bar-button responsive" ng-click="toggle('embed');">
	                        <i class="fa fa-code" aria-hidden="true"></i>
	                    </div>
	                    <div id="shareButton" class="button-bar-button responsive" ng-click="toggle('share');">
	                        <i class="fa fa-share-alt" aria-hidden="true"></i>
	                    </div>
	                    <div id="infoButton" class="button-bar-button responsive" ng-click="toggle('info');">
	                        <i class="fa fa-info-circle" aria-hidden="true"></i>
	                    </div>
	                </div>
	            </div>
	
	        </div>
			
		
	        <div id="panel" class="tpanel Aligner" ng-show="showingEmbed || showingInfo || showingShare">

	            <div class="tpanel-content .Aligner-item--fixed">
	                <div class="heading"><i class="fa" ng-class="{'fa-code' : showingEmbed,'fa-share-alt' : showingShare,'fa-info-circle' : showingInfo}" aria-hidden="true"></i> <span>{{panelTitle| translate}}</span></div>
	                <div class="panel-left">
	                    <div class="info" ng-show="showingInfo">
	                        <div class="thumbnail" ng-show="video.thumbmini">
	                            <img class="info-img" ng-src="{{video.thumbmini}}">
	                        </div>
	                        <div class="preview">
	                            <div class="info-tab responsive" ng-show="channel">
	                                <div class="info-tab-field info-ref responsive"><i class="fa fa-tag" aria-hidden="true"></i> &nbsp; <span>{{channel | displaychannel}}</span></div>
	                            </div>
	                            <div class="info-tab responsive" ng-show="video.ref">
	                                <div class="info-tab-field info-ref responsive"><i class="fa fa-tag" aria-hidden="true"></i> &nbsp; <span>{{video.ref}}</span></div>
	                            </div>
	                            <div class="info-tab responsive" ng-show="video.views">
	                                <div class="info-tab-field info-views responsive"><i class="fa fa-eye" aria-hidden="true"></i> &nbsp; <span>{{video.views}}</span></div>
	                            </div>
	                            <div class="info-tab responsive" ng-show="video.duration">
	                                <div class="info-tab-field info-duration responsive"><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; <span>{{video.duration | fmDuration}}</span></div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="share" ng-show="showingShare">
	                        <div class="row lgrow">
	                            <div class="label lang-label responsive" id="component_31">{{'label.language'| translate}}</div>
	                            <div class="dropdown-main">
	                                <img src="./embed/img/icon_arrowdown.png" class="dropdown-arrow responsive">
	                                <select id="shareLGBox" class="dropdown responsive" ng-model="shareConfig.language">
	                                    <option ng-repeat="lang in video.languages" value="{{lang.lang.short}}">{{lang.lang.long}}</option>
	                                    <option ng-repeat="lang in channelLanguages" value="{{lang.hreflang}}">{{lang.label}}</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="row subrow" style="display: none;">
	                            <div class="label sub-label responsive" id="component_33">SUBTITLE</div>
	                            <div class="dropdown-main">
	                                <img src="./embed/img/icon_arrowdown.png" class="dropdown-arrow responsive">
	                                <select id="shareSUBLGBox" class="dropdown responsive">
	                                    <option value="none">None</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="row start-time">
	                            <div class="label start-label responsive" id="component_35">START</div>
	                            <input id="shareTimeInMinField" class="textfield textfield-center numberformat responsive" ng-model="shareConfig.tin.min"  type="text" maxlength="3">
	                            <div class="timeseparator responsive">:</div>
	                            <input id="shareTimeInSecField" class="textfield textfield-center secondformat responsive" ng-model="shareConfig.tin.sec"  type="text" maxlength="3">
	                        </div>
	                        <div class="row end-time">
	                            <div class="label end-label responsive" id="component_37">END</div>
	                            <input id="shareTimeOutMinField" class="textfield textfield-center numberformat responsive" ng-model="shareConfig.tout.min"  type="text" maxlength="3">
	                            <div class="timeseparator responsive">:</div>
	                            <input id="shareTimeOutSecField" class="textfield textfield-center secondformat responsive" ng-model="shareConfig.tout.sec"  type="text" maxlength="3">
	                        </div>
	
	                        <!--<div class="row">
	                            <div class="label responsive" id="component_39">AUTOPLAY</div>
	                            <input id="shareAutoPlayBox" class="autoplayBox responsive" type="checkbox" ng-model="shareConfig.autoplay"><label for="shareAutoPlayBox" class="noselect responsive"></label>
	                        </div>-->
	
	                    </div>
	
	                    <div class="embed" ng-show="showingEmbed">
	                        <div class="row lgrow">
	                            <div class="label lang-label responsive" id="component_47">{{'label.language'| translate}}</div>
	                            <div class="dropdown-main">
	                                <img src="./embed/img/icon_arrowdown.png" class="dropdown-arrow responsive">
	                                <select id="embedLGBox" class="dropdown responsive" ng-model="embedConfig.language">
	                                    <option ng-repeat="lang in video.languages" value="{{lang.lang.short}}">{{lang.lang.long}}</option>
	                                    <option ng-repeat="lang in channelLanguages" value="{{lang.hreflang}}">{{lang.label}}</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="row subrow" style="display: none;">
	                            <div class="label sub-label responsive" id="component_49">SUBTITLE</div>
	                            <div class="dropdown-main">
	                                <img src="./embed/img/icon_arrowdown.png" class="dropdown-arrow responsive">
	                                <select id="embedSUBLGBox" class="dropdown responsive">
	                                    <option value="none">None</option>
	                                </select>
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="label size-label responsive" id="component_51">SIZE</div>
	                            <input id="embedWidthField" class="textfield textfield-center numberformat responsive" type="text" ng-model="embedConfig.width" maxlength="3">
	                            <div class="timeseparator responsive">x</div>
	                            <input id="embedHeightField" class="textfield textfield-center numberformat responsive" type="text" ng-model="embedConfig.height" maxlength="3">
	                        </div>
	                        <div class="row start-time">
	                            <div class="label start-label responsive" id="component_53">START</div>
	                            <input id="embedTimeInMinField" class="textfield textfield-center numberformat responsive" ng-model="embedConfig.tin.min" type="text" value="00" maxlength="3">
	                            <div class="timeseparator responsive">:</div>
	                            <input id="embedTimeInSecField" class="textfield textfield-center secondformat responsive" ng-model="embedConfig.tin.sec" type="text" value="00" maxlength="3">
	                        </div>
	                        <div class="row end-time">
	                            <div class="label end-label responsive" id="component_55">END</div>
	                            <input id="embedTimeOutMinField" class="textfield textfield-center numberformat responsive" ng-model="embedConfig.tout.min" type="text" value="00" maxlength="3">
	                            <div class="timeseparator responsive">:</div>
	                            <input id="embedTimeOutSecField" class="textfield textfield-center secondformat responsive" ng-model="embedConfig.tout.sec" type="text" value="00" maxlength="3">
	                        </div>
	                        <!--<div class="row">
	                            <div class="label responsive" id="component_57">AUTOPLAY</div>
	                            <input id="embedAutoPlayBox" class="autoplayBox responsive" type="checkbox" ng-model="embedConfig.autoplay" ><label for="embedAutoPlayBox" class="noselect responsive"></label>
	                        </div>-->
	                    </div>
	                </div>
	                <div class="panel-right">
	                    <div class="info" ng-show="showingInfo">
	                        <div class="info-title">{{video.title | translateDB}}</div>
	                        <div class="subtitle">{{video.date}}</div>
	                        <div class="desc">{{video.summary | translateDB}}</div>
	                    </div>
	                    <div class="share" ng-show="showingShare">
	                        <div class="row urlrow"><input id="shareURLField" class="textfield responsive" type="text" spellcheck="false" ng-model="tinifyShare"></div>
	                        <div class="row">
	                            <div id="shareCopyButton"  ng-click="clipboardCopy('shareURLField');" class="embed-copybutton noselect responsive">COPY SHARE URL</div>
	                        </div>
	                        <div class="row noselect">
	                        	<share-network></share-network>
	                        </div>
	                    </div>
	                    <div class="embed" ng-show="showingEmbed">
	                        <div class="row">
	                        	<textarea id="embedTagField" class="textarea responsive" rows="10" spellcheck="false"><iframe src="{{tinifyEmbed}}" id="videoplayer" width="{{embedConfig.width}}" height="{{embedConfig.height}}" frameborder="0" scrolling="no" webkitAllowFullScreen="true" mozallowfullscreen="true" allowFullScreen="true"></iframe></textarea>
	    	                </div>
	                        <div class="row">
	                            <div id="embedCopyButton" ng-click="clipboardCopy('embedTagField');" class="embed-copybutton noselect responsive">COPY EMBED CODE</div>
	                        </div>
	                    </div>
	
	                </div>
	            </div>
	            <div class="close-btn panel-closebutton" ng-click="closeAll();"></div>
	        </div>
	        <div class="shotlist-container hidden"><p></p></div>
	    </div>
	</div>
		<div class="theoplayer-playlist-holder" ng-if="playlistMode">
			<div class="theoplayer-playlist-menu" style="height:200px;overflow: scroll">
				<ul class="playlist-list">
					<li ng-repeat="track in playlist" ng-click="$emit('changeTrack',{track:track,index:$index})" class="playlist-list-item" 
						ng-class="{'playlist-list-item-active': track.ref == currentTrack.ref}">
						<span class="number">{{$index+1}}</span>
						<span class="thumbnail"><img style="height:30px" ng-src="{{track.thumbmini}}" alt="{{track.ref}}"/></span>
						<span class="title">{{track.ref}} - {{track.title | translateDB}}</span>
						<span class="duration">({{track.duration | fmDuration}})</span>
					</li>
				</ul>
			</div>
			<!--<div class="theoplayer-playlist-button-holder"><span class="fa fa-step-backward" ng-click="goPrevious()"> </span> <span class="fa fa-step-forward" ng-click="goNext()"> </span></div>-->
		</div>
</div>	