

<div class="ecl-container ecl-u-mt-m avs-content-wrapper">
    <div class="ecl-row">
        <div class="ecl-col-lg-12">
            <span class="social-media-links__label" style="display:block;margin-bottom: 20px;">{{ 'headlines.share_this_page' | translate}} :</span>
            <share-network></share-network>
        </div>
    </div>
</div>


<footer class="ecl-footer ecl-u-mt-xl">
    <div class="ecl-footer__site-identity">
        <div class="ecl-container">
            <div class="ecl-row">
                <div class="ecl-col-sm-4 ecl-footer__column">
                    <h4 class="ecl-h4">
                        <a class="ecl-link ecl-footer__link" ui-sref="language.home">Audiovisual Service</a>
                    </h4>
                </div>
                <div class="ecl-col-sm ecl-footer__column">
                    <ul class="ecl-footer__menu ecl-list--unstyled">
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-footer__link" ui-sref="language.assistance">{{ 'footer.technical_assistance' | translate}}</a>
                        </li>
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-footer__link"  ui-sref="language.contact">{{ 'contact.contact_us' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="ecl-col-sm ecl-footer__column">
                    <ul class="ecl-footer__menu ecl-list--unstyled">
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-footer__link" ui-sref="language.faq">{{ 'footer.faq' | translate}}</a>
                        </li>
                        <li class="ecl-footer__menu-item">
                        
                        </li>
                    </ul>
                </div>
                <div class="ecl-col-sm ecl-footer__column">
                    <ul class="ecl-footer__menu ecl-list--unstyled">
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-footer__link" href="#">RSS</a>
                        </li>
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-footer__link" ui-sref="language.useful_links">{{'footer.useful_links' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="ecl-col-sm ecl-footer__column">
                    <ul class="ecl-footer__menu ecl-list--unstyled">
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-footer__link" ui-sref="language.copyright">{{'label.copyright' | translate}}</a>
                        </li>
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-footer__link" ui-sref="language.aboutebs">{{'menu.technical_information'|translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ecl-footer__site-corporate">
        <div class="ecl-container">
            <div class="ecl-row">
                <div class="ecl-col-sm ecl-footer__column">
                    <h4 class="ecl-h4 ecl-footer__title">{{ 'label.european_commission' | translate}}</h4>
                    <ul class="ecl-footer__menu">
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-link--inverted ecl-footer__link" href="https://ec.europa.eu/commission/index_{{selectedLanguage.lang}}">{{ 'footer.commission_and_its_priorities' | translate}}</a>
                        </li>
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-link--inverted ecl-footer__link" href="https://ec.europa.eu/info/index_{{selectedLanguage.lang}}">{{ 'footer.policies_information_and_services' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="ecl-col-sm ecl-footer__column">
                    <h4 class="ecl-h4 ecl-footer__title">{{ 'footer.follow_the_european_commission' | translate}}</h4>
                    <ul class="ecl-footer__menu ecl-list--inline ecl-footer__social-links">
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-link--inverted ecl-footer__link" href="https://www.facebook.com/EuropeanCommission"><span class="ecl-icon ecl-icon--facebook ecl-footer__social-icon"></span>Facebook</a>
                        </li>
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-link--inverted ecl-footer__link" href="https://twitter.com/EU_Commission"><span class="ecl-icon ecl-icon--twitter ecl-footer__social-icon"></span>Twitter</a>
                        </li>
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-link--inverted ecl-link--external ecl-footer__link ecl-link--external" href="https://europa.eu/european-union/contact/social-networks_{{selectedLanguage.lang}}#n:+i:4+e:1+t:+s">{{ 'footer.other_social_media' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="ecl-col-sm ecl-footer__column">
                    <h4 class="ecl-h4 ecl-footer__title">{{ 'footer.european_union' | translate}}</h4>
                    <ul class="ecl-footer__menu">
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-link--inverted ecl-link--external ecl-footer__link ecl-link--external" href="https://europa.eu/european-union/about-eu/institutions-bodies_{{selectedLanguage.lang}}">{{ 'footer.eu_institutions' | translate}}</a>
                        </li>
                        <li class="ecl-footer__menu-item">
                        <a class="ecl-link ecl-link--inverted ecl-link--external ecl-footer__link ecl-link--external" href="https://europa.eu/european-union/index_{{selectedLanguage.lang}}">
                        {{ 'footer.european_union' | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ecl-footer__ec">
        <div class="ecl-container">
            <div class="ecl-row">
                <div class="ecl-col-sm ">

                    <ul class="ecl-list--inline ecl-footer__menu">
                        <li class="ecl-footer__menu-item">

                            <a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/about-commissions-new-web-presence_{{selectedLanguage.lang}}">{{ 'footer.about_the_commission' | translate}}</a>
                        </li>
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/resources-partners_{{selectedLanguage.lang}}">{{ 'footer.resources_for_partners' | translate}}</a>
                        </li>
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/cookies_{{selectedLanguage.lang}}">{{ 'footer.cookies' | translate}}</a>
                        </li>
                            <li class="ecl-footer__menu-item">
                                <a class="ecl-link ecl-link--inverted ecl-footer__link" href="https://ec.europa.eu/info/privacy-policy_{{selectedLanguage.lang}}">{{ 'footer.privacy_policy' | translate}}</a>
                            </li>
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/legal-notice_{{selectedLanguage.lang}}">{{ 'footer.legal_notice' | translate}}</a>
                        </li>
                        <li class="ecl-footer__menu-item">
                            <a class="ecl-link ecl-link--inverted ecl-footer__link" href="http://ec.europa.eu/info/contact_{{selectedLanguage.lang}}">{{ 'footer.contact' | translate}}</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- PIWIC -->
<!-- PIWIC data : 27 pour avservices, 
 instance prod : ec.europa.eu
 ,
"lang" : "{{lang}}",
"search":{
             "keyword" : "",
            "category" : "",
            "count" : 0
        },
"siteSection" : ""   // pourrait être : video / photo / scheduler / audio / EbS / ... , permet d'affiner les stats
 -->
 
<script src="js/avs.js"></script>
<script type="application/json">
{
"utility" : "piwik",
"siteID" : 27,
"sitePath" : ["ec.europa.eu\/avservices"],
"instance" : "testing",
"is404" : false,
"is403" : false
}
</script>

