
<div class="ecl-container ecl-u-mt-m avs-content-wrapper" ng-if="state.current.name != 'language.search' && state.current.name != 'language.all_schedules' && state.current.name != 'language.ebs'">    
  <div class="avs-highlighted-links-bar">
    <nav class="ecl-u-d-md-flex ecl-u-d-lg-flex ecl-u-d-xlg-flex avs-bg-blue-12 avs-border-left-5 avs-border-blue-75 ecl-u-ph-xxs ecl-u-pv-xxs">
      <h2 class="ecl-u-sr-only">Small Navigation Menu</h2>
      <aside class="ecl-u-ph-xxs ecl-u-pv-xxxs avs-highlighted-links-bar--title ecl-u-d-block">
          <span class="ecl-u-text-uppercase ecl-u-fs-s "><strong>{{'highlights.highlights'| translate}}</strong></span>
      </aside>
      <ul class="avs-highlighted-links-bar--links ecl-list--unstyled ecl-u-d-flex ecl-u-flex-column ecl-u-flex-md-row ecl-u-flex-lg-row ecl-u-flex-xlg-row ecl-u-align-items-start ecl-u-flex-wrap ecl-u-mv-none">
          <li class="ecl-u-ph-xxs ecl-u-pv-xxxs">
              <a class="ecl-link ecl-link--standalone avs-font-weight-normal ecl-u-fs-s" 
                ui-sref="language.commission">{{'highlights.college'| translate}}</a>
          </li>
          <li class="ecl-u-ph-xxs ecl-u-pv-xxxs">
              <a class="ecl-link ecl-link--standalone avs-font-weight-normal ecl-u-fs-s" 
                ui-sref="language.mediagroup({ref: 'M-001945'})">{{'highlights.10_priorities'| translate}}</a>
          </li>
          <li class="ecl-u-ph-xxs ecl-u-pv-xxxs">
              <a class="ecl-link ecl-link--standalone avs-font-weight-normal ecl-u-fs-s" 
                ui-sref="language.mediagroup({ref: 'M-001665'})">{{'highlights.state_of_the_union'| translate}}</a>
          </li>
          <li class="ecl-u-ph-xxs ecl-u-pv-xxxs">
              <a class="ecl-link ecl-link--standalone avs-font-weight-normal ecl-u-fs-s" ui-sref="language.search({categories:'Press briefing'})">{{'highlights.press_briefings'| translate}}</a>
          </li>
          <li class="ecl-u-ph-xxs ecl-u-pv-xxxs">
              <a class="ecl-link ecl-link--standalone avs-font-weight-normal ecl-u-fs-s" ui-sref="language.search({categories:'Press conference'})">{{'highlights.press_conferences'| translate}}</a>
          </li>
          <li class="ecl-u-ph-xxs ecl-u-pv-xxxs">
              <a class="ecl-link ecl-link--standalone avs-font-weight-normal ecl-u-fs-s" 
                href="//ec.europa.eu/info/events/citizens-dialogues_en" target="_blank">{{'highlights.citizens_dialogues'| translate}}</a>
          </li>
      </ul>
    </nav>
  </div>  