
    <header class="ecl-site-header" role="banner">
        
        <div class="ecl-container">
            <nav class="ecl-navigation-list-wrapper ecl-u-f-r">
                <h2 class="ecl-u-sr-only">User menu</h2>
                <ul class="ecl-navigation-list ecl-navigation-list--small">
                    <li class="ecl-navigation-list__item">
                        <div ng-if="isAuthenticated">
                            {{'Bonjour' |translate}} {{user().lastname + ' ' + user().firstname}}
                            <a class="ecl-navigation-list__link ecl-link" ng-click="logout();" href="#">{{'Logout' | translate}}</a>
                        </div>
                        <div ng-if="!isAuthenticated">
                            <a class="ecl-navigation-list__link ecl-link" href="/api/authenticate">{{'login.login' |translate}}</a>
                        </div>
                        
                    </li>
                </ul>
            </nav>
        </div>
     
        <div class="ecl-site-switcher ecl-site-switcher--header">
            <div class="ecl-container">
              <ul class="ecl-site-switcher__list">
                <li class="ecl-site-switcher__option ecl-site-switcher__option--is-selected">
                    <a class="ecl-link ecl-link--header ecl-site-switcher__link" href="https://ec.europa.eu/commission/index_en">{{'label.commission_and_its_priorities' |translate}}</a>
                </li>
                <li class="ecl-site-switcher__option">
                    <a class="ecl-link ecl-link--header ecl-site-switcher__link" href="https://ec.europa.eu/info/index_en">{{'label.policies_information_and_services' |translate}}</a>
                </li>
              </ul>
            </div>
        </div>

        <div class="ecl-container ecl-site-header__banner">
            <a href="https://ec.europa.eu/" class="ecl-logo ecl-logo--logotype ecl-site-header__logo" title="{{'menu.home' |translate}} - {{'label.european_commission' |translate}}">
              <span class="ecl-u-sr-only">{{'menu.home' |translate}} - {{'label.european_commission' |translate}}</span>
            </a>

            <language-overlay />

            <form class="ecl-search-form ecl-site-header__search" ng-if="state.current.name != 'language.search'">
                <label class="ecl-search-form__textfield-wrapper"> <span class="ecl-u-sr-only">{{'search.searchbutton' |translate}}</span>
                    <input type="search" class="ecl-text-input ecl-search-form__textfield" id="global-search" ng-model="search.kwor" name="default-name" />
                </label>
                <button class="ecl-button ecl-button--form ecl-search-form__button" ng-click="goSearch();">{{'search.searchbutton' |translate}}</button>
            </form>
        </div>
        
    </header>

    <div class="ecl-page-header">
        <div class="ecl-container">
            <nav class="ecl-breadcrumbs " aria-label="breadcrumbs"> <span class="ecl-u-sr-only">You are here:</span>
                <ol class="ecl-breadcrumbs__segments-wrapper">
                    <li ng-repeat="step in breadcrumb" class="ecl-breadcrumbs__segment" ng-class="{'ecl-breadcrumb__segment--last' : $last, ' ecl-breadcrumbs__segment--first' : $first}"> 
                        <a ng-href="{{step.url}}" class="ecl-link ecl-link--inverted ecl-link--standalone ecl-breadcrumbs__link"  ng-if="!$last">{{step.name}}</a>
                        <span  ng-if="$last">{{step.name}}</span>
                    </li>
                </ol>
            </nav>
            <div class="ecl-page-header__body">
                <div class="ecl-page-header__identity">Audiovisual Service</div>
            </div>
        </div>
    </div>

    <nav class="ecl-navigation-menu" aria-label="Main Navigation" >
        <div class="ecl-container">
            <button class="ecl-navigation-menu__toggle ecl-navigation-menu__hamburger ecl-navigation-menu__hamburger--squeeze"  aria-controls="nav-menu-expandable-root" aria-expanded="false">
                <span class="ecl-navigation-menu__hamburger-box">
                    <span class="ecl-navigation-menu__hamburger-inner"></span>
                </span>
                <span class="ecl-navigation-menu__hamburger-label">Menu</span>
            </button>
            <ul class="ecl-navigation-menu__root" id="nav-menu-expandable-root" aria-hidden="true">
                <li class="ecl-navigation-menu__item " ng-class="{ 'ecl-navigation-menu__item--active': state.current.name == 'language.home'}"> <a ui-sref="language.home" target="_top" class="ecl-navigation-menu__link">{{'menu.home'|translate}}</a>
                </li>
                <li class="ecl-navigation-menu__item" ng-class="{ 'ecl-navigation-menu__item--active': state.current.name.match('language.featured')}"> <a ui-sref="language.featuredall" target="_top" class="ecl-navigation-menu__link"	>{{'menu.headline_news'|translate}}</a>
                </li>
                <li ng-click="toggle('titi')" class="ecl-navigation-menu__item" ng-class="{ 'ecl-navigation-menu__item--active': state.current.name.match('language.ebs') || state.current.name.match('language.aboutebs')}"> 
                	<a id="toto" class="ecl-navigation-menu__link" aria-controls="nav-menu-expandable-ebs" aria-expanded="{{globalMenuExpanded}}" aria-haspopup="true">{{'menu.europe_by_satellite'|translate}}</a>
                    <ul class="ecl-navigation-menu__group" id="nav-menu-expandable-ebs">
                        <li class="ecl-navigation-menu__item">
                            <a class="ecl-navigation-menu__link" target="_top" ui-sref="language.ebsBoth">{{'menu.all_schedules'|translate}}</a>
                        </li>
                        <li class="ecl-navigation-menu__item">
                            <a class="ecl-navigation-menu__link" target="_top" ui-sref="language.ebs({channel:1})">{{'menu.ebs_schedule'|translate}}</a>
                        </li>
                        <li class="ecl-navigation-menu__item">
                            <a class="ecl-navigation-menu__link" target="_top" ui-sref="language.ebs({channel:2})">{{'menu.ebs_plus_schedule'|translate}}</a>
                        </li>
                        <!--<li class="ecl-navigation-menu__item">
                            <a class="ecl-navigation-menu__link" ui-sref="language.ebsLatest">{{'menu.ebs_latest'|translate}}</a>
                        </li>-->
                        <li class="ecl-navigation-menu__item">
                            <a class="ecl-navigation-menu__link" target="_top"  ui-sref="language.aboutebs">{{'menu.technical_information'|translate}}</a>
                        </li>
                        <!--<li class="ecl-navigation-menu__item">
                            <a class="ecl-navigation-menu__link" ui-sref="language.ebsAbout">{{'menu.about_ebs'|translate}}</a>
                        </li>-->
                    </ul>
                </li>
                <li class="ecl-navigation-menu__item" ng-class="{ 'ecl-navigation-menu__item--active': state.current.name.match('language.video')}"> <a ui-sref="language.videos" target="_top" class="ecl-navigation-menu__link">{{'menu.video'|translate}}</a></li>
                <li class="ecl-navigation-menu__item" ng-class="{ 'ecl-navigation-menu__item--active': state.current.name.match('language.photo') || state.current.name.match('language.reportage')}"> <a ui-sref="language.photos"  target="_top" class="ecl-navigation-menu__link">{{'menu.photo'|translate}}</a></li>

                <li class="ecl-navigation-menu__item" ng-click="toggle('toto')" ng-class="{ 'ecl-navigation-menu__item--active': (state.current.name == 'language.mediagroup' && ['M-001251','M-001246','M-001245','M-001252'].indexOf(state.params.ref)) ||state.current.name.match('language.euhistory') || state.current.name.match('language.anniversaries') || state.current.name.match('language.map') || state.current.name.match('language.commissions') || state.current.name.match('language.credentials') || state.current.name.match('language.councils') || state.current.name.match('language.euhistoryof') || state.current.name.match('language.milestones') || state.current.name.match('language.calendar') || state.current.name.match('language.timeline')}"> 
                	<a id="titi" class="ecl-navigation-menu__link"  aria-controls="nav-menu-expandable-euhistory" aria-expanded="{{globalMenuExpanded}}" aria-haspopup="true">{{'menu.eu_history'|translate}}</a>
                    <ul class="ecl-navigation-menu__group" id="nav-menu-expandable-euhistory">
                        <li class="ecl-navigation-menu__item"><a ui-sref="language.diplomatic" target="_top" class="ecl-navigation-menu__link">{{'menu.diplomatic_relations'|translate}}</a>
                        </li> 
                        <li class="ecl-navigation-menu__item"><a ui-sref="language.anniversary" target="_top" class="ecl-navigation-menu__link">{{'menu.upcoming_anniversaries'|translate}}</a>
                        </li>
                        <li class="ecl-navigation-menu__item"><a ui-sref="language.former" target="_top" class="ecl-navigation-menu__link">{{'menu.former_commissions'|translate}}</a>
                        </li>
                        <li class="ecl-navigation-menu__item"><a ui-sref="language.council" target="_top" class="ecl-navigation-menu__link">{{'menu.european_councils'|translate}}</a>
                        </li>
                        <!--<li class="ecl-navigation-menu__item"><a ui-sref="language.milestones" class="ecl-navigation-menu__link">{{'menu.milestones'|translate}}</a>
                        </li>
                        <li class="ecl-navigation-menu__item"><a ui-sref="language.calendar" class="ecl-navigation-menu__link">{{'menu.calendar'|translate}}</a>
                        </li>
                        <li class="ecl-navigation-menu__item"><a ui-sref="language.timeline" class="ecl-navigation-menu__link">{{'menu.timeline'|translate}}</a>
                        </li>-->
                    </ul>
                </li>
                <li class="ecl-navigation-menu__item" ng-class="{ 'ecl-navigation-menu__item--active': state.current.name == 'about'}"> <a ui-sref="language.about" target="_top" class="ecl-navigation-menu__link">{{'menu.about_us'|translate}}</a></li>
            </ul>
        </div>
    </nav>