
	<h1 ng-bind-html="focusDetails.title | translateDB"></h1>
    <div class="ecl-row">
        <section class="ecl-col-lg" ng-if="focusDetails.primarymedia && focusDetails.primarymedia.type == 'VIDEO'">
	        <avportal-video video="focusDetails.primarymedia"
									cloud="isCloud" 
	    							channel="channel" 
	    							autostart="autostart" 
	    							language="lang" 
	    							sublanguage="sublg" 
	    							starttime="tin" 
	    							endtime="tout"
	    							show-switch-live="false"></avportal-video>
        </section>
        <section class="ecl-col-lg" ng-if="focusDetails.primarymedia && focusDetails.primarymedia.type == 'PHOTO'">
	        <img ng-src="{{focusDetails.primarymedia.thumb}}">
        </section>
        <aside class="ecl-col-lg">
            <p class="ecl-paragraph" ng-bind-html="focusDetails.description|translateDB"></p>
            <div ng-if="focusDetails.links">
            	{{ 'headlines.more_infos' | translate}}: <span ng-repeat="link in focusDetails.links"><a ng-href="{{(link|translateDB).url}}" class="ecl-link">{{(link|translateDB).title}}</a><span ng-show="!$last"> | </span></span>
            </div>
        </aside>
    </div>   
     
<div ng-repeat="chapter in focusDetails.chapters">
	<div ng-show="chapter.title">
		<h3 ng-bind-html="chapter.title | translateDB"></h3>
	</div>
    <div class="ecl-container avs-list-results-thumbnails">
    	<p class="ecl-paragraph" ng-bind-html="chapter.description | translateDB"></p>
		<!-- on affiche en vignette le contenu de medias -->
		<div class="ecl-row">
				<vignette-detail  ng-repeat="media in chapter.medias" ng-if="media" media="media" type="media.type"  class="ecl-col-lg-4"></vignette-detail>
		</div>
	</div>
</div>

     