<!-- // TOP NEWS (FOCUS) /////////////////////////////////////////////////////////////////////////////////////////////////// -->
<featured-top featured="featuredtop" more="false" ></featured-top>

<a name="featured"></a>    
<div class="ecl-row">
    <aside class="ecl-col-lg-3" role="complementary">
        <div class="ecl-u-d-flex ecl-u-d-lg-none ecl-u-justify-content-between ecl-u-align-items-baseline">
            <h2 class="ecl-heading ecl-heading--h2">{{'headlines.more_headline_news'| translate}} ({{totalFocus}})</h2>
            <button class="ecl-button ecl-button--primary ecl-u-d-lg-none ecl-expandable__button" aria-controls="form-filter" aria-expanded="true" type="button">{{'search.refine_results'| translate}}</button>
        </div>
        <form class="ecl-form ecl-u-d-lg-block" aria-hidden="false" method="get" id="form-filter">
            <fieldset class="ecl-fieldset">
                <div class="ecl-form-group">
                    <label class="ecl-form-label" for="search-option-source">{{'search.keywords' | translate}}</label>
                    <input type="text" ng-model="search.keywords" ng-model-options="{updateOn: 'default blur',debounce: { 'default': 1000, 'blur': 0 }}" class="ecl-text-input" id="example-input-id-1" name="default-name" placeholder="" />
                </div>
                <div class="ecl-form-group">
                    <label class="ecl-form-label" for="search-option-language">{{'search.published_before' | translate}}</label>
                    <div class="ecl-datepickers">
                        <input type="text" class="ecl-text-input" ng-model="search.published_before" name="datepicker" aria-label="Use the arrow keys to pick a date"  />
                        <span class="ecl-datepickers__icon ecl-icon ecl-icon--calendar"></span>
                    </div>
                </div>
                <div class="ecl-form-group">
                    <label class="ecl-form-label" for="search-option-language">{{'search.published_after' | translate}}</label>
                    <div class="ecl-datepickers">
                        <input type="text" class="ecl-text-input" ng-model="search.published_after" name="datepicker" aria-label="Use the arrow keys to pick a date"  />
                        <span class="ecl-datepickers__icon ecl-icon ecl-icon--calendar"></span>
                    </div>
                </div>
            </fieldset>
            <div class="ecl-u-mv-m">
                <button class="ecl-button ecl-button--primary ecl-button--block ecl-u-mv-s ecl-u-mh-auto" ng-click="searchFn()" >{{'search.refine_results'| translate}}</button>
                <button class="ecl-button ecl-button--default ecl-button--block ecl-u-mv-s ecl-u-mh-auto" ng-click="reset()">{{'search.clear_all'| translate}}</button>
            </div>
        </form>
    </aside>
    <section class="ecl-col-lg-9">
        <h2 class="ecl-heading ecl-heading--h2 ecl-u-d-none ecl-u-d-lg-block">
            {{'headlines.more_headline_news'| translate}} ({{totalFocus}})
        </h2>
        <h3 class="ecl-heading ecl-heading--h3">
            {{'search.search_results'| translate}} {{pagesize * (search.index - 1) + 1}} {{'search.to'| translate}} 
            {{pagesize * (search.index - 1)  + focusList.length}}
        </h3>
        <ul class="ecl-listing">
            <list-view media="focus" type="'featured'" dir-paginate="focus in focusList | filter:q | itemsPerPage:pagesize"
                current-page="search.index" total-items="totalFocus" pagination-id="focusPagination" />
        </ul>
        <nav class="ecl-pager__wrapper" aria-label="pagination">
            <dir-pagination-controls boundary-links="true" max-size="9" pagination-id="focusPagination" 
                on-page-change="loadPage(newPageNumber)"></dir-pagination-controls>
        </nav>
    </section>
</div>   
            

<script src="js/pikaday.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        //console.log($);
        $('input[name=datepicker]').each(function(i, e) {
            var picker = new Pikaday({
                field: $(e)[0],
                format: 'DD/MM/YYYY',
                firstDay: 1,
                maxDate: new Date(2020, 12, 31),
                theme: 'ecl-pika-theme',
                yearRange: [2000, 2020],
            });

        });
    });
</script>