<div class="ecl-container ecl-u-mt-m avs-content-wrapper">    
	<div class="ecl-row">
		<aside class="ecl-col-lg-3" role="complementary">
			<div class="ecl-u-d-flex ecl-u-d-lg-none ecl-u-justify-content-between ecl-u-align-items-baseline">
				<h2 class="ecl-heading ecl-heading--h2">{{'search.search_results'|translate}} ({{nbCount}})</h2>
				<button class="ecl-button ecl-button--primary ecl-u-d-lg-none ecl-expandable__button" aria-controls="form-filter" aria-expanded="true" type="button">{{'search.refine_search' | translate}}</button>
			</div>
			<form class="ecl-form ecl-u-d-lg-block" aria-hidden="false" method="get" id="form-filter">
				<fieldset class="ecl-fieldset">
					<legend class="ecl-form-legend ecl-form-legend--level-1">{{'search.search_options' |translate}}</legend>
					<div class="ecl-form-group">
		                   <label class="ecl-form-label" for="search-option-date">{{"search.keywords"|translate}}</label>
		                   <input class="ecl-text-input" type="text" ng-model="search.kwor" ng-model-options="{updateOn:'default blur', debounce:{'default':1000, 'blur':0, '*':1000}}" placeholder="{{'search.keywords' | translate}}...">
		               </div>
		               <div class="ecl-form-group">
		                   <label class="ecl-form-label" for="search-option-source">{{'search.type_of_media' |translate}}</label>
		                   <select class="ecl-select" id="search-option-source" name="source" ng-model="search.mediatype">
		                       <option value="">{{'search.allmedia'|translate}}</option>
		                       <option value="VIDEO">{{'menu.video'|translate}}</option>
		                       <option value="PHOTO">{{'menu.photo'|translate}}</option>
		                       <!--<option value="AUDIO">{{'menu.audio'|translate}}</option>-->
		                   </select>
		               </div>
		                <div class="ecl-form-group">
		                    <label class="ecl-form-label" for="search-option-date">{{"Categories"|translate}}</label>
		                    <select class="ecl-select" id="search-option-date" name="date" ng-model="search.categories">
		                        <option ng-repeat="cat in listCategories | filter:{mediatype : search.mediatype}" value="{{cat.id}}" >{{cat.name | translateDB}}</option>
		                    </select>
		                </div>
		                <div class="ecl-form-group">
		                    <label class="ecl-form-label" for="search-option-language">{{"search.from"|translate}}</label>
		                    <div class="ecl-datepickers">
		                        <input type="text" class="ecl-text-input" name="datepicker" ng-model="search.datefrom" aria-label="Use the arrow keys to pick a date" value="04/01/2017">
		                        <span class="ecl-datepickers__icon ecl-icon ecl-icon--calendar"></span>
		                    </div>
		                </div>
		                <div class="ecl-form-group">
		                    <label class="ecl-form-label" for="search-option-language">{{'search.to'|translate}}</label>
		                    <div class="ecl-datepickers">
		                        <input type="text" class="ecl-text-input" name="datepicker" ng-model="search.dateto" aria-label="Use the arrow keys to pick a date" value="04/01/2017">
		                        <span class="ecl-datepickers__icon ecl-icon ecl-icon--calendar"></span>
		                    </div>
		                </div>
		                <div class="ecl-form-group" ng-if="search.mediatype != 'PHOTO'">
		                    <label class="ecl-form-label" for="search-option-file-format">{{'label.videolang'|translate}}</label>
		                    <select class="ecl-select" id="search-option-file-format" name="file-format" ng-model="search.videolang">
		                        <option ng-repeat="cat in listVideoLang " value="{{cat.doc_ref}}" >{{cat.title}}</option>
		                    </select>
		                </div>
		                <div class="ecl-form-group" id="avs-autocomplete-thesaurus">
		                    <label class="ecl-form-label" for="search-option-file-format">{{'label.thesaurus'|translate}}</label>
		                    <input class="ecl-text-input" id="search-option-thesaurus" type="text" ng-model="search.thesaurus" placeholder="thesaurus" auto-complete="autoCompleteThesaurusOptions" />
		                </div>
		                <div class="ecl-form-group">
		                    <label class="ecl-form-label" for="search-option-file-format">{{'label.topic'|translate}}</label>
		                    <select class="ecl-select" id="search-option-file-format" name="file-format" ng-model="search.topic">
		                        <option ng-repeat="cat in listTopics | orderBy:traduc" value="{{cat.doc_ref}}" >{{cat.title | translateDB}}</option>
		                    </select>
		                </div>
		                <div class="ecl-form-group" id="avs-autocomplete-personalities">
		                    <label class="ecl-form-label" for="search-option-file-format">{{'label.person'|translate}}</label>
		                    <input class="ecl-text-input" id="search-option-personalities" type="text" ng-model="search.personalities" placeholder="{{'label.person'|translate}}" auto-complete="autoCompletePersonnnalitiesOptions" />
		                </div>
		                <div class="ecl-form-group" id="avs-autocomplete-location">
		                    <label class="ecl-form-label" for="search-option-file-format">{{'label.location'|translate}}</label>
		                    <input class="ecl-text-input" id="search-option-location" type="text" ng-model="search.location" placeholder="{{'label.location'|translate}}" auto-complete="autoCompleteLocationOptions" />
		                </div>
		            </fieldset>
		            <div class="ecl-u-mv-m">
		                <!-- <button class="ecl-button ecl-button--primary ecl-button--block ecl-u-mv-s ecl-u-mh-auto" type="submit">Refine results</button> -->
		                <button class="ecl-button ecl-button--default ecl-button--block ecl-u-mv-s ecl-u-mh-auto"  ng-click="reset();">{{'search.clear_all' |translate}}</button>
		            </div>
		        </form>
		    </aside>

			<section class="ecl-col-lg-9">
		        <div class="ecl-container avs-list-results-thumbnails">
		            <div class="ecl-row">
		                <div class="ecl-col-lg">
		
		                    <h2 class="ecl-heading ecl-heading--h2 ecl-u-d-none ecl-u-d-lg-block">{{'search.search_results'|translate}} ({{nbCount}})</h2>
		                    <div class="ecl-u-d-flex ecl-u-align-items-center ecl-u-flex-wrap">
		                        <div class="ecl-tag  ecl-u-mv-xxxs" > 
		                            <span class="ecl-tag__label">{{'search.type_of_media' |translate}}</span>
		                            <filter-option item="cat" displayname="cat.item | translate"  ng-repeat="cat in filterList | filter:{filter:'mediatype'}"></filter-option>
		                            <filter-option item="'ALL'" displayname="'ALL' | translate"  ng-show="(filterList | filter:{filter:'mediatype'}).length == 0"></filter-option>
		                        </div>
		                        <div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs" ng-show="(filterList | filter:{filter:'categories'}).length"> 
		                            <span class="ecl-tag__label">{{'search.categories' |translate}}</span>
		                            <filter-option item="cat" displayname="cat.item.name | translateDB" remove-item="removeItem(item)" ng-repeat="cat in filterList | filter:{filter:'categories'}"></filter-option>
		                        </div>
		                        <div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs" ng-show="(filterList | filter:{filter:'datefrom'}).length"> 
		                            <span class="ecl-tag__label">{{'search.from' |translate}}</span>
		                            <filter-option item="cat" displayname="cat.displayitem " remove-item="removeItem(item)" ng-repeat="cat in filterList | filter:{filter:'datefrom'}"></filter-option>
		                        </div>
		                        <div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs" ng-show="(filterList | filter:{filter:'dateto'}).length"> 
		                            <span class="ecl-tag__label">{{'search.to' |translate}}</span>
		                            <filter-option item="cat" displayname="cat.displayitem" remove-item="removeItem(item)" ng-repeat="cat in filterList | filter:{filter:'dateto'}"></filter-option>
		                        </div>
		                        <div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs" ng-show="(filterList | filter:{filter:'kwor'}).length"> 
		                            <span class="ecl-tag__label">{{'search.keywords'|translate}}</span>
		                            <filter-option item="cat" displayname="cat.item" remove-item="removeItem(item)" ng-repeat="cat in filterList | filter:{filter:'kwor'}"></filter-option>
		                        </div>
		                        <div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs" ng-show="(filterList | filter:{filter:'personalities'}).length"> 
		                            <span class="ecl-tag__label">{{'label.person' |translate}}</span>
		                            <filter-option item="cat" displayname="cat.item.prefered" remove-item="removeItem(item)" ng-repeat="cat in filterList | filter:{filter:'personalities'}"></filter-option>
		                        </div>
		                        <div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs" ng-show="(filterList | filter:{filter:'videolang'}).length"> 
		                            <span class="ecl-tag__label">{{'label.videolang' |translate}}</span>
		                            <filter-option item="cat" displayname="cat.item.title" remove-item="removeItem(item)" ng-repeat="cat in filterList | filter:{filter:'videolang'}"></filter-option>
		                        </div>
		                        <div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs" ng-show="(filterList | filter:{filter:'thesaurus'}).length"> 
		                            <span class="ecl-tag__label">{{'label.thesaurus' |translate}}</span>
		                            <filter-option item="cat" displayname="cat.item.title | translateDB" remove-item="removeItem(item)" ng-repeat="cat in filterList | filter:{filter:'thesaurus'}"></filter-option>
		                        </div>
		                        <div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs" ng-show="(filterList | filter:{filter:'location'}).length"> 
		                            <span class="ecl-tag__label">{{'label.location' |translate}}</span>
		                            <filter-option item="cat" displayname="cat.item.title | translateDB" remove-item="removeItem(item)" ng-repeat="cat in filterList | filter:{filter:'location'}"></filter-option>
		                        </div>
		                        <div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs" ng-show="(filterList | filter:{filter:'topic'}).length"> 
		                            <span class="ecl-tag__label">{{'label.topic' |translate}}</span>
		                            <filter-option item="cat" displayname="cat.item.title | translateDB" remove-item="removeItem(item)" ng-repeat="cat in filterList | filter:{filter:'topic'}"></filter-option>
		                        </div>
		                        <!--<div class="ecl-tag ecl-tag--facet-close ecl-u-mv-xxxs"> 
		                            <span class="ecl-tag__label">Topics</span>
		                            <button class="ecl-button ecl-button--facet-close ecl-tag__item" type="button">Health, wellbeing &amp; Consumer protection</button>
		                        </div>-->
		                    </div>

		                    <nav class="ecl-navigation-list-wrapper avs-before-search-results ecl-u-mt-xs">
		                        <h2 class="ecl-u-sr-only">Small Navigation Menu</h2>
		                        <div class="avs-search-nav-top ecl-u-d-flex">
		                            <div class="avs-search-status ecl-u-mr-auto ecl-u-mv-xs">{{'search.showing_results' |translate}} {{(search.index - 1) * nbResultPerPage +1}} to {{(search.index - 1) * nbResultPerPage +results.length}}</div>
		                            <div class="avs-search-nav-top-right">
		                                <ul class="ecl-navigation-list ecl-navigation-list--small ecl-u-justify-content-end">

		                                    <li>
		                                        <div class="avs-search-sort-by-label ecl-u-ma-xxs">{{'search.sort_by' |translate}}</div>
		                                    </li>
		                                    <li class="ecl-navigation-list__item"> 
		                                        <a class="ecl-link ecl-navigation-list__link" ng-class="{'ecl-link--active' : search.sort == 'date'}" ng-click="sortBy('date')">{{'search.date' |translate}} </a>
		                                    </li>
		                                    <li class="ecl-navigation-list__item"> 
		                                        <a class="ecl-link ecl-navigation-list__link" ng-class="{'ecl-link--active' : search.sort == 'score'}" ng-click="sortBy('score')">{{'search.relevance' |translate}}</a>
		                                    </li>
		                                </ul>
		                            </div>
		                        </div>
		                    </nav>
		                </div>
		            </div>
		            <div class="ecl-row">
		                <vignette-detail  class="ecl-col-lg-4" media="media" type="type" dir-paginate="media in results | filter:q | itemsPerPage: nbResultPerPage" current-page="search.index" total-items="nbCount" pagination-id="searchPagination"></vignette-detail>
		            </div>
		            <nav class="ecl-pager__wrapper" aria-label="pagination">
               			<dir-pagination-controls boundary-links="true" max-size="9" pagination-id="searchPagination" on-page-change="changePage(newPageNumber)"></dir-pagination-controls>
            		</nav>
		        </div>
		    </section>
		</div>             
    </div>

<script src="js/pikaday.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        //console.log($);
        $('input[name=datepicker]').each(function(i, e) {
            var picker = new Pikaday({
                field: $(e)[0],
                format: 'DD/MM/YYYY',
                firstDay: 1,
                maxDate: new Date(2020, 12, 31),
                theme: 'ecl-pika-theme',
                yearRange: [1950, 2020],
            });

        });
    });
</script>
