
<h1 ng-bind-html="MediaGroup.title | translateDB"></h1>
<h3 ng-bind-html="MediaGroup.summary | translateDB"></h3>
<h3 ng-bind-html="MediaGroup.description | translateDB"></h3>




<div ng-repeat="chapter in MediaGroup.chapters">
	<div ng-show="chapter.title && MediaGroup.chapters.length > 1">
		<h3 ng-bind-html="chapter.title | translateDB"></h3>
	</div>
	<section class="ecl-timeline">
	  <ul class="ecl-timeline__list">
	    <li class="ecl-timeline__item" ng-repeat="month in MediaGroup.calendar" ng-if="month.anniversary.length">
	      <div class="ecl-heading ecl-heading--h4 ecl-timeline__title">{{month.month.display}}</div>
	      <div class="ecl-timeline__body">
	      	<div class="ecl-row">
	       <vignette-detail  ng-repeat="media in month.anniversary" ng-if="media" media="media" type="media.type"  class="ecl-col-lg-3"></vignette-detail>
	       </div>
	      </div>
	    </li>
	  </ul>
	</section>
</div>

