
<h1 ng-bind-html="MediaGroup.title | translateDB"></h1>
<h3 ng-bind-html="MediaGroup.summary | translateDB"></h3>
<h3 ng-bind-html="MediaGroup.description | translateDB"></h3>


<div class="ecl-context-nav ecl-comment__meta">
  <!--<span class="ecl-context-nav__label">{{'Filter : ' | translate}}</span>-->
  <ul class="ecl-context-nav__list">
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter()">{{'All' | translate}}</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('A')">A</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('B')">B</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('C')">C</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('D')">D</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('E')">E</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('F')">F</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('>G')">G</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('H')">H</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('I')">I</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('J')">J</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('K')">K</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('L')">L</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('M')">M</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('N')">N</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('O')">O</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('P')">P</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('Q')">Q</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('R')">R</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('S')">S</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('T')">T</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('U')">U</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('V')">V</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('W')">W</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('X')">X</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('Y')">Y</a>
    </li>
    <li class="ecl-context-nav__item">
      <a class="ecl-link ecl-link--standalone"  ng-click="ShowLetter('Z')">Z</a>
    </li>
    <!--<li class="ecl-context-nav__item ecl-context-nav__more">
      <button type="submit" class="ecl-button ecl-button--none ecl-button--caret-right ecl-context-nav__button ecl-link ecl-link--standalone">{{'More' | translate}}</button>
    </li>-->
  </ul>
</div>

<div class="ecl-container avs-list-results-thumbnails">
	<p class="ecl-paragraph" ng-bind-html="chapter.description | translateDB"></p>
	<!-- on affiche en vignette le contenu de medias -->
	<div class="ecl-row">
		<vignette-detail  ng-repeat="media in Chapters | orderBy:orderByString" ng-if="media" media="media" type="media.type"  class="ecl-col-lg-4"></vignette-detail>
	</div>
</div>

