
<h1 ng-bind-html="MediaGroup.title | translateDB"></h1>
<h3 ng-bind-html="MediaGroup.summary | translateDB"></h3>
<h3 ng-bind-html="MediaGroup.description | translateDB"></h3>




<div ng-repeat="chapter in MediaGroup.chapters">
	<div ng-show="chapter.title && MediaGroup.chapters.length > 1">
		<h3 ng-bind-html="chapter.title | translateDB"></h3>
	</div>
    <div class="ecl-container avs-list-results-thumbnails">
    	<p class="ecl-paragraph" ng-bind-html="chapter.description | translateDB"></p>
		<!-- on affiche en vignette le contenu de medias -->
		<div class="ecl-row">
				<vignette-detail  ng-repeat="media in chapter.medias" ng-if="media" media="media" type="media.type"  class="ecl-col-lg-4"></vignette-detail>
		</div>
	</div>
</div>

