
<div ng-repeat="chapter in MediaGroup.chapters">
    <h3 ng-show="chapter.title && MediaGroup.chapters.length > 1">{{chapter.title | translateDB}}</h3>

    <div class="row">
        <div class="col-xs-4" ng-repeat="reportage in chapter.medias | limitTo:3">
            <a ui-sref="language.{{reportage.type | lowercase}}({ref:reportage.ref})">
                <div align="center">
                    <img style="margin-bottom:5px" width="300" height="180" border="0" ng-src="{{reportage.thumb}}" alt="" />
                </div>
            </a>
            <div>
                <div>
                    {{reportage.title|translateDB}}
                </div>
            </div>
        </div>
    </div>
</div>
