
	<div>
		<h2 class="ecl-heading ecl-heading--h2">{{'photo.planned_photo_coverage' | translate}}</h2>
		<ul class="ecl-list--unstyled">
			<li  class="ecl-list-item ecl-list-item--date"  ng-repeat="reportage in reportagesPlanning">
        <a  class="ecl-link ecl-list-item__link">
          <div class="ecl-u-sr-only">{{planned_photo_coverage | translateDB}}</div>
          <div class="ecl-list-item__primary">
          	<badge-date datereportage="reportage.datestart"></badge-date>
          </div>
          <div class="ecl-list-item__body">
            <p class="ecl-paragraph--xs">{{reportage.datestart}}</p>
            <p class="ecl-paragraph--xs" ng-show="reportage.dateend">Date fin shooting: {{reportage.dateend}}</p>
            <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">{{reportage.title|translateDB}}</h3>
            {{reportage.summary|translateDB}}
            <p class="ecl-paragraph--xs">Ref: {{reportage.ref}}</p>
            <p class="ecl-paragraph--xs" ng-show="reportage.genre">Genre : {{reportage.genre.titles | translateDB}}</p>
            <p class="ecl-paragraph--xs" ng-show="reportage.location">Location : <span ng-repeat="loc in reportage.location">{{loc.value | translateDB}}<span ng-hide="$last"> | </span></span></p>
            <p class="ecl-paragraph--xs" ng-show="reportage.personalities">personalities : <span ng-repeat="pers in reportage.personalities">{{pers.preferedterm}}<span ng-hide="$last"> | </span></span></p>
          </div>
        </a>
			</li>
		</ul>
	</div>
