<div>
	<div ng-if="! isAuthenticated">
		<a class="ecl-link ecl-link--standalone" href="/api/authenticate"><button class="ecl-button ecl-button--default ecl-button--block ecl-button--file" type="button">for download, you have to log in</button></a>
	</div>
	<div ng-repeat="(key,value) in download" ng-if="isAuthenticated">
		<section class="ecl-file ecl-u-mt-m" ng-if="value.length">
		    <div class="ecl-file__body">
		        <div class="ecl-row">
		            <div class=" ecl-col ecl-col-md-8">
		                <span class="ecl-icon ecl-icon--file ecl-file__icon"></span>
		                <div class="ecl-file__metadata">
		                    <div class="ecl-file__title">{{key | translate}}<span ng-if="value.aspectRatio"> - {{value.aspectRatio}}</span></div>
		                    <div class="ecl-file__info">
		                    	<span ng-if="value.size || value.bitrate">
									(<span ng-if="value.size">{{value.size | fmSize}}</span>
									<span ng-if="value.size && value.bitrate"> - </span>
									<span ng-if="value.bitrate">{{value.bitrate | fmBitrate}}</span>)
								</span>
		                    </div>
		                </div>
		            </div>
		            <div class="ecl-col-12 ecl-col-md-4">
		            	<a class="ecl-link ecl-link--standalone" href="{{value[key]}}" download><button class="ecl-button ecl-button--default ecl-button--block ecl-button--file ecl-file__download" type="button">Download</button></a>
		            </div>
		        </div>
		    </div>
		</section>
	
		<div class="ecl-u-clearfix ecl-u-mv-xs avs-document-languages-expandable" ng-if="value.length">
	
		    <div class="ecl-u-clearfix"><a aria-controls="{{key}}-expandable-2" aria-expanded="false" class="ecl-link ecl-expandable__button avs-toggle-media-languages" href="#">{{'label.available' | translate}} {{key | translate}} ({{value.length}})</a></div>
	
		    <div aria-hidden="true" aria-labelledby="{{key}}-expandable-button-2" id="{{key}}-expandable-2" class="ecl-u-aria">
		        <ul class="ecl-listing ecl-u-mt-m ecl-row">
		            <li class="ecl-col-xl-6 ecl-list-item ecl-list-item--date ecl-u-clearfix" ng-repeat="videoLR in value">
	
		                <div class="ecl-u-sr-only">
		                	{{videoLR.LGFULL}} - <span ng-if="videoLR.size || videoLR.bitrate">
							(<span ng-if="videoLR.size">{{videoLR.size | fmSize}}</span>
							<span ng-if="videoLR.size && videoLR.bitrate"> - </span>
							<span ng-if="videoLR.bitrate">{{videoLR.bitrate | fmBitrate}}</span>)
							</span>
						</div>
	
		                <div class="ecl-list-item__body">
		                    <div class="ecl-list-item__meta">
		                        <div class="ecl-meta ecl-meta--date">
		                        </div>
		                    </div>
	
		                    <div class="left-area">
		                        <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">{{videoLR.LGFULL}}</h3>
		                        <p class="ecl-list-item__detail ecl-paragraph">
		                            <small>
		                            	<span ng-if="videoLR.size || videoLR.bitrate">
											(<span ng-if="videoLR.size">{{videoLR.size | fmSize}}</span>
											<span ng-if="videoLR.size && videoLR.bitrate"> - </span>
											<span ng-if="videoLR.bitrate">{{videoLR.bitrate | fmBitrate}}</span>)
										</span>
									</small>
		                        </p>
		                    </div>
		                    <div class="ecl-list-item__action right-area">
		                        <div class="right-area-outer-wrapper">
		                            <div class="right-area-inner-wrapper">
		                        		<file-download fileurl="{{videoLR[key]}}" linktext="Download"></file-download>
		                        	</div>
		                        </div>
		                    </div>
		                </div>
		            </li>
		        </ul>
		        <p class="ecl-paragraph ecl-paragraph--m">{{'label.looking_for_another_language' | translate}} <a class="ecl-link" href="#sample-link-url">{{'label.find_out_why' | translate}}</a>.</p>
		    </div>
		</div>
	</div>
</div>