	<message ng-show="! shotlist"></message>

<article ng-if="shotlist">
	<h2>{{shotlist.video.title|translateDB}}</h2>
    <blockquote class="ecl-blockquote">
		<b>Type :</b> 
		<span>{{shotlist.video.genre.titles|translateDB}}</span>	 
		<b>Reference :</b> 
		<span>{{shotlist.video.ref}}</span>
		<span ng-show="shotlist.video.duration">
			<b>Duration :</b> 
			{{shotlist.video.duration | fmDuration}}
		</span>
	    <div ng-show="shotlist.video.location">
	    	<b>Location :</b>
	    	<span  ng-repeat="loc in shotlist.video.location">{{loc | translateDB}}</span>
	    </div>
		<p>
			<div ng-show="shotlist.video.video[0].IMAGE">
				<a ui-sref="language.video({ref:shotlist.video.ref})"><img ng-src="{{shotlist.video.video[0].IMAGE}}" alt="{{shotlist.video.title|translateDB}}" width="300" align="right" /></a>
	        </div>
	        <p class="ecl-paragraph ecl-u-mb-s ecl-u-mt-xxxs">
			{{shotlist.video.summary|translateDB}}
	        </p>
		</p>

    </blockquote>

	<table class="ecl-table ecl-table--responsive">
		<thead> 
			<tr> 
				<th scope="col">{{'shotlist.hour' | translate}}</th> 
				<th scope="col" width="70%">{{'shotlist.description' | translate}}</th> 
				<th scope="col">{{'shotlist.duration_shot' | translate}}</th> 
			</tr> 
		</thead> 
		<tbody> 
			<tr ng-repeat="shot in shotlist.shots | orderBy:'tcin':false"> 
                <!--<th>{{shot.chapter}}</th>-->
				<td>
                <div ng-show="shot.chapter == 'N'">
                  {{shot.tcin | fmDuration}}
                </div>
                </td> 
				<td>
                <div ng-show="shot.chapter == 'Y'">
                  <b>{{shot.legend |translateDB}}</b>
                </div>
                <div ng-show="shot.chapter == 'N'">
                  {{shot.legend |translateDB}}
                </div>
                </td> 
				<td>
                <div ng-show="shot.chapter == 'N'">
                  {{shot.duration | fmDuration}}
                </div>
                </td> 
			</tr> 
		</tbody> 
	</table>
</article>