<div ng-if="reportagesPlanning.length">

    <h2 class="ecl-heading ecl-heading--h2">{{'video.coverage' | translate}}</h2>
    <ul class="ecl-list--unstyled">
        <li class="ecl-list-item ecl-list-item--date" ng-repeat="reportage in reportagesPlanning |limitTo:2">
            <a  class="ecl-link ecl-list-item__link">
                <div class="ecl-u-sr-only">{{'video.coverage' | translate}}</div>
                <div class="ecl-list-item__primary">
                    <badge-date datereportage="reportage.startdate"></badge-date>
                </div>
                <div class="ecl-list-item__body">
                    <h3 class="ecl-list-item__title ecl-heading ecl-heading--h3">{{reportage.title}}</h3>
                </div>
            </a>
        </li>
    </ul>
    <strong>
        <a class="ecl-u-mt-s ecl-u-f-r ecl-link avs-file ecl-button--caret-right ecl-u-text-uppercase ecl-link--standalone" ui-sref="language.events">{{'video.more_coverage' | translate}}</a>
    </strong>

</div>

<div class="avs-listing-three-columns-highlights avs-listing-three-columns-highlights-with-paragraph">
    
    <div class="ecl-row">
        <div class="ecl-col-lg-12">
            <h1>{{'video.video_news'|translate}}</h1>
            <p class="ecl-paragraph ecl-paragraph--m">{{'video.video_news_description'|translate}}</p>
        </div>
    </div>

    <liste-vignette medias="videosNewsvideos" type="'video'"></liste-vignette>

    <div class="ecl-row">
        <div class="ecl-col-lg-12">
            <strong>
                <a class="ecl-u-mt-s ecl-u-f-r ecl-link avs-file ecl-button--caret-right ecl-u-text-uppercase ecl-link--standalone" ui-sref="language.videonews">{{'video.more_video_news' | translate}}</a>
            </strong>
        </div>
    </div>

</div> 
<!-- Video Stockshots-->
<div>
    
    <div class="ecl-row">
        <div class="ecl-col-lg-12">
            <h1>{{'video.video_stockshots'|translate}}</h1>
            <p class="ecl-paragraph ecl-paragraph--m">{{'video.video_stockshots_description'|translate}}</p>
        </div>
    </div>

    <liste-vignette medias="videosStockshot" type="'video'"></liste-vignette>

    <div class="ecl-row">
        <div class="ecl-col-lg-12">
            <strong>
                <a class="ecl-u-mt-s ecl-u-f-r ecl-link avs-file ecl-button--caret-right ecl-u-text-uppercase ecl-link--standalone" ui-sref="language.stockshot">{{'video.more_video_stockshots' | translate}}</a>
            </strong>
        </div>
    </div>

</div> 
<!-- Video Clip-->
<div>
    
    <div class="ecl-row">
        <div class="ecl-col-lg-12">
            <h1>{{'video.clips'|translate}}</h1>
            <p class="ecl-paragraph ecl-paragraph--m">{{'video.clips_description'|translate}}</p>
        </div>
    </div>

    <liste-vignette medias="videosClip" type="'video'"></liste-vignette>

    <div class="ecl-row">
        <div class="ecl-col-lg-12">
            <strong>
                <a class="ecl-u-mt-s ecl-u-f-r ecl-link avs-file ecl-button--caret-right ecl-u-text-uppercase ecl-link--standalone" ui-sref="language.clip">{{'video.more_clips'|translate}}</a>
            </strong>
        </div>
    </div>

</div> 

