
<div class="ecl-container ecl-u-mt-m avs-content-wrapper" ng-show="errMsg">
	<h2>{{errMsg}}</h2>
</div>

<div class="ecl-container ecl-u-mt-m avs-content-wrapper" ng-hide="errMsg">
	<h1>{{video.title|translateDB}}</h1>

	<div class="ecl-row">
		<div class="ecl-col-lg-8">
			<section class="ecl-file ecl-file--video avs-extended-video-caption-area">
				
				<avportal-video video="video"
					cloud="isCloud" 
					channel="channel" 
					autostart="true" 
					language="lang" 
					sublanguage="sublg" 
					starttime="tin" 
					endtime="tout"
					show-switch-live="false"
					playlist-mode="video.genre.id == 63 || video.genre.id == 64 || video.genre.id == 67"
					playlist="playlist"
					playlist-play="currentIndex">
				</avportal-video>
				
				<div class="switchChannel" style="width:100%" ng-show="showSwitchLive">
					<button class="ecl-button ecl-button--primary" style="width:49%" data-channel="1" ng-class="{'actived' : channel == 1}" ng-click="changeChannel(1)">EbS</button>
					<button class="ecl-button ecl-button--primary-green" style="width:49%" data-channel="2" ng-class="{'actived' : channel == 2}" ng-click="changeChannel(2)">EbS+</button>
				</div>

				<div>
					<share-network></share-network>
				</div>
				<div class="ecl-file__caption ecl-u-pv-xxs">
                    <p class="ecl-u-mv-none ecl-paragraph ecl-paragraph--m" ng-bind-html="video.summary|translateDB"></p>
					<span ng-show="videdo.hasShots==1"><a ui-sref="language.shotlist({ref:video.ref})" target="shotList">{{'label.shotlist'|translate}}</a><br></span>
				</div>
				<span ng-repeat="(k,v) in video.links">{{k | translate}}: <span ng-repeat="l in v"><span ng-bind-html='l | fmLink:k'></span><span ng-if="! $last"> , </span></span><br ng-if="! $last"></br></span>
			</section>

			<!-- // DOWNLOAD BUTTONS -->
			<download-video videos="video.video"></download-video>

		</div>
		<aside class="ecl-col-lg-4" role="complementary">
			<div class="avs-media-details avs-bg-grey-10 ecl-u-pv-xxxs ecl-u-ph-xs">
				<div class="main-details">
					<p class="ecl-paragraph ecl-paragraph--m">
						<strong>{{'label.type_of_transmissions'|translate}} :</strong> {{video.genre.titles|translateDB}}
					</p>
					<p class="ecl-paragraph ecl-paragraph--m">
						<span class="fas fa-user"></span> <strong>{{'label.reference_number'|translate}}:</strong> {{video.ref}} 
					</p>
					<p class="ecl-paragraph ecl-paragraph--m">
						<span class="fas fa-calendar"></span> <strong>{{'label.event_date'|translate}}:</strong> {{video.date}} 
					</p>
					<p class="ecl-paragraph ecl-paragraph--m" ng-if="video.institution.length">
						<span class="fas fa-university"></span> <strong>{{'label.institution'|translate}}:</strong> <span ng-repeat="inst in video.institution">{{inst.titles | translateDB}}<span ng-if="! $last"> , </span></span> 
					</p>
					<p class="ecl-paragraph ecl-paragraph--m" ng-if="video.location.length">
						<span class="fas fa-map-marker-alt"></span> <strong>{{'label.location'|translate}}:</strong> <span ng-repeat="loc in video.location">{{loc.value | translateDB}}<span ng-if="! $last"> , </span></span> 
					</p>
					<p class="ecl-paragraph ecl-paragraph--m" ng-if="video.thesaurus.length">
						<span class="fas fa-tag"></span> <strong>{{'label.tag'|translate}}:</strong> <span ng-repeat="thes in video.thesaurus"><a class="ecl-link" ui-sref="language.search({thesaurus:thes.id})">{{thes.value | translateDB}}</a><span ng-if="! $last"> , </span></span> 
					</p>
					<p class="ecl-paragraph ecl-paragraph--m" ng-if="video.personalities.length">
						<span class="fas fa-user"></span> <strong>{{'label.person'|translate}}:</strong> <span ng-repeat="pers in video.personalities"><a class="ecl-link" ui-sref="language.search({personalities:pers.id})">{{pers | fmPersonnality}}</a><span ng-if="! $last"> , </span></span> 
					</p>
					<p class="ecl-paragraph ecl-paragraph--m">
						<span class="fas fa-eye"></span> <strong>{{'label.views'|translate}} :</strong> {{video.views}}
					</p>
					<p class="ecl-paragraph ecl-paragraph--m">
						<span class="fas fa-stopwatch"></span> <strong>{{'label.duration'|translate}} :</strong> {{video.duration | fmDuration}}
					</p>
					<p class="ecl-paragraph ecl-paragraph--m" ng-if="video.mediaorder.length">
						<span class="fas fa-language"></span> <strong>{{'label.language'|translate}}:</strong> <span ng-repeat="lang in video.mediaorder"><span ng-repeat="(key,value) in lang">{{value.TEXT}}</span><span ng-if="! $last"> , </span></span> 
					</p>
					<p class="ecl-paragraph ecl-paragraph--m" ng-repeat="(key,value) in video.cooperator">
						<span class="fas fa-users"></span> <strong>{{key.split('-')[2] | fmLanguage:video.mediaorder }}:</strong>
						<span ng-repeat="(key2, value2) in value"><br/>&nbsp;&nbsp;&nbsp;<strong>{{key2}}:</strong><span ng-repeat="val in value2">{{val}}<span ng-if="! $last"> , </span></span></span> 
					</p>
				</div>
				<hr />
				<div class="secondary-details">
					<p class="ecl-paragraph ecl-paragraph--m">
						{{video.copyright | fmCopyright}} 
					</p>
				</div>
			</div>
		</aside>
	</div>

	<!--  RELATED -->
	<div autoscroll="true">
		<article>
		    <div ng-show="video.related.VIDEO.numFound > 0">
			    <div class="ecl-row">
			        <div class="ecl-col-lg-12">
			            <h2>{{'video.related_videos' | translate}} ({{ video.related.VIDEO.numFound }})</h2>
			        </div>
			    </div>
			
			    <liste-vignette medias="video.videosRelated" />
			
			    <div class="ecl-row" ng-show="video.related.VIDEO.numFound > 3">
			        <div class="ecl-col-lg-12">
			            <strong>
			                <a class="ecl-u-mt-s ecl-u-f-r ecl-link avs-file ecl-button--caret-right ecl-u-text-uppercase ecl-link--standalone" ui-sref="language.event({'ref': video.project.id || photo.project.id})">{{ 'video.more_videos' | translate}}</a>
			            </strong>
			        </div>
			    </div>
		    </div>
		</article>
	</div>
	<div autoscroll="true">
		<article>
		    <div ng-show="video.related.REPORTAGE.numFound > 0">
			    <div class="ecl-row">
			        <div class="ecl-col-lg-12">
			            <h2>{{'photo.related_photos' | translate}} ({{video.related.REPORTAGE.numFound}})</h2>
			        </div>
			    </div>
			    <liste-vignette medias="video.photosRelated" />
			
			    <div class="ecl-row" ng-if="video.related.REPORTAGE.numFound>3">
			        <div class="ecl-col-lg-12">
			            <strong>
			                <a class="ecl-u-mt-s ecl-u-f-r ecl-link avs-file ecl-button--caret-right ecl-u-text-uppercase ecl-link--standalone" ui-sref="language.event({'ref': video.project.id || reportage.project.id || photo.project.id})">{{ 'photo.more_photos' | translate}}</a>
			            </strong>
			        </div>
			    </div>
		    </div>
		</article>
	</div>

</div>
