
<h1 class="ecl-heading ecl-heading--h1">{{mediagroup.title | translateDB | htmlToPlaintext}}</h1>
<p  class="ecl-paragraph ecl-paragraph--m " ng-bind-html="mediagroup.description | translateDB"></p>

<div class="ecl-row ecl-u-z-navigation ecl-u-pt-xl ">
	
	<div class="ecl-col-md-3 ecl-u-z-navigation  js-stickybit-parent">
		<nav class="ecl-navigation-inpage " style="top: 0px; position: sticky;">
			<div class="ecl-navigation-inpage__body ">
				<div class="ecl-navigation-inpage__trigger ">&nbsp;</div>
				<ul class="ecl-navigation-inpage__list">
					<li class="ecl-navigation-inpage__item" ng-repeat="chapter in mediagroup.chapters"><a class="ecl-link ecl-link--standalone ecl-navigation-inpage__link" href="#" scroll-to="{{mediagroup.ref + '-chapter-' + $index}}">{{chapter.title | translateDB}}</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="ecl-col-md-9 ">
		<div  ng-repeat="chapter in mediagroup.chapters">
			<h2 class="ecl-heading ecl-heading--h2" id="{{mediagroup.ref + '-chapter-' + $index}}">{{chapter.title | translateDB}}</h2>
			<p class="ecl-paragraph ecl-paragraph--s " ng-bind-html="chapter.description | translateDB"></p>
			<p class="ecl-paragraph ecl-paragraph--s " ng-repeat="submedia in chapter.media">
				<strong ng-bind-html="submedia.title | translateDB"></strong>
				<span ng-bind-html="submedia.description | translateDB"></span>
			</p>
		</div>
	</div>

</div>
