<br>
<article ng-controller="videosCtrlRelated">
	<div ng-show="videosRelated.length > 0">
	<h3>{{'video.related_videos' | translate}} ({{videosRelated.length}})</h3>
		<div class="row">
			<div class="col-md-4" ng-repeat="related in videosRelated | limitTo:3"> 
                <a ui-sref="language.video({ref:related.ref})"><img ng-src="{{related.video[0].THUMB}}" alt="{{related.title}}" /></a><br />
				<span>{{related.ref}}</span><br>    
                <span>{{related.title|translateDB}}</span><br>
                <span>{{related.duration}}</span><br>
                <span>{{related.productiondate}}</span><br>
                <span>{{related.genre|translateDB}}</span><br>
				<br> 
			</div>

		</div>
	</div>
</article>


<article ng-controller="photosCtrlRelated">
	<div ng-show="photosRelated.length > 0">
		<h3>{{'photo.related_photos' | translate}} ({{photosRelated.length}})</h3>
		<div class="row">
			<div class="col-md-4" ng-repeat="related in photosRelated | limitTo:3"> 
                <a ui-sref="language.reportage({ref:related.ref})"><img ng-src="{{related.thumbmini}}"/></a><br>
				<span>{{related.ref}}</span><br>
                <span>{{related.title|translateDB}}</span><br>
			</div>

		</div>
	</div>
</article>




-