<!-- // VIDEO //////////////////////////////////-->
<!-- type sert pour les related -->
<section class="ecl-file avs-file ecl-file--video avs-file--video ecl-u-mb-xs" 
    ng-class="{'avs-file--video': media.type.toUpperCase() === 'VIDEO' || type.toUpperCase() === 'VIDEO', 'avs-file--images': media.type === 'REPORTAGE' || type === 'REPORTAGE' || media.type === 'MEDIAGROUP' || type === 'MEDIAGROUP', 'avs-file--image': media.type === 'PHOTO' || type === 'PHOTO', 'avs-file--audio': media.type === 'AUDIO' || type==='AUDIO'}">
    <a class="ecl-link avs-file ecl-link--standalone" 
        ui-sref="language.{{(media.type||type) | lowercase}}({ref:media.ref} )" 
        title="{{media.title|translateDB}}" ng-if="media.ref != 'M-001166'">
        <div class="avs-video-area ecl-u-ratio-16-9">
            <picture class="avs-ratio-content">
                <source media="(min-width: 310px)" ng-srcset="{{media.thumb}}">
                <source media="(max-width: 300px)" ng-srcset="{{media.thumb}}">
                <img ng-src="{{media.thumb}}" alt="{{media.thumb}}">
            </picture>
            <div ng-if="media.type == 'VIDEO'" class="avs-video-duration">{{media.duration | fmDuration}}</div>
        </div>
        <div class="ecl-file__caption avs-file__caption avs-color-black">         
            <span class="description" style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; min-height:60px;" ng-bind-html="media.title | translateDB"></span>
            <span class="meta" ng-show="media.date"><b>{{'label.event_date' | translate}}:</b> {{media.date}}</span>
        </div>
    </a>

    <a class="ecl-link avs-file ecl-link--standalone" 
        ui-sref="language.commission" 
        title="{{media.title|translateDB}}" ng-if="media.ref == 'M-001166'">
        <div class="avs-video-area ecl-u-ratio-16-9">
            <picture class="avs-ratio-content">
                <source media="(min-width: 310px)" ng-srcset="{{media.thumb}}">
                <source media="(max-width: 300px)" ng-srcset="{{media.thumb}}">
                <img ng-src="{{media.thumb}}" alt="{{media.thumb}}">
            </picture>
            <div ng-if="media.type == 'VIDEO'" class="avs-video-duration">{{media.duration | fmDuration}}</div>
        </div>
        <div class="ecl-file__caption avs-file__caption avs-color-black">
            <span class="description" style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; min-height:60px;">{{media.title|translateDB | htmlToPlaintext}}</span>
            <span class="meta" ng-show="media.date"><b>{{'label.event_date' | translate}}:</b> {{media.date}}</span>
        </div>
    </a>
</section>